<div class="container">

<h1 class="row-center">Todo App</h1>


  <div class="todo_container">
    <input 
     type="text" 
     placeholder="Add a new Todo"
     (keyup.enter)="addTodo()"
     [(ngModel)] = "todoInput"
     >
    <div class="todo_list_container">
      <ul>
          <li *ngFor="let todo of todoList">
           <app-list
             [todo]="todo"
             (deleteTodo)="onDeleteTodo($event)" 
             (taskCompleted)="onCompleted(todo.id,$event)"
             (todoUpdated)="onTodoUpdate($event)"
             ></app-list>
          </li>
      </ul>
    </div>
  </div>
 

</div>